@import "../../../styles/variables";

.root {
  position: relative;
  //height: calc(100vh - 200px);
  height: auto;
  display: flex;
  padding: 0 20px;
  flex-direction: column;

  & > h1 {
    margin-left: 30px;
    margin-top: 30px;
    color: darken($grayColor, 20%);
    font-size: 30px;
  }
}

.latest_div {
  margin-left: 25px;
  //height: 500px;
  display: flex;
  flex-direction: row;
}
.mount_price{
  display: flex;
  height: 300px;
}
.inner_div {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 50%;
  margin: 10px 20px;
  div {
    //display: flex;
    //flex-direction: row;
    //height: 400px;
    text-align: center;

    text-transform: capitalize;
  }
}
.latest_div_item {
  color:$menuColor ;
  border: 1px solid $menuColor;
  display: flex;
  width: 100%;
  flex-direction: row;
  div{
    width: 23%;
  }


}

.done_order {
  background-color: $asteriskColor;
  color: white;
}
.lates_div_id{
  width: 10%!important;
}