@import "../../../styles/variables";

.root {
  position: relative;
  //height: calc(100vh - 200px);
  height: auto;

  & > h1 {
    margin-left: 30px;
    margin-top: 30px;
    color: darken($grayColor, 20%);
    font-size: 30px;
  }
}

.latest_div {
  margin-left: 25px;
  width: 500px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.latest_div_item {
  display: flex;
  width: 100%;
  flex-direction: row;

  div {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    color:$menuColor ;
    border: 1px solid $menuColor;
  }
}
.lates_div_id{
  width: 10%!important;
}